schema/1.03/xsd/netex_part_3/part3_salesTransactions/netex_salesContract_version-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_salesContract_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_support-v1.0.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_usageParameterEligibility_support-v1.0.xsd"/>
	<xsd:include schemaLocation="netex_retailConsortium_support-v1.0.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_support-v1.0.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_version-v1.0.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES PASSENGER CONTRACT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_salesContract_version-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES PASSENGER CONTRACT   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SALES CONTRACT  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="PassengerContractsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elemenst for SALES TRANSACTION in Frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="customers" type="customersInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CUSTOMERs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passengerContracts" type="passengerContractsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSENGER CONTRACTs  in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="blacklists" type="blacklistsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BLACK LISTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="customersInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CUSTOMERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="Customer" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="passengerContractsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SALES PASSENGER CONTRACTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="PassengerContract" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="blacklistsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of BLACK LISTS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="Blacklist" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== CUSTOMER-->
	<xsd:complexType name="customers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of CUSTOMERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="CustomerRef"/>
					<xsd:element ref="Customer"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Customer" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An identified person or organisation involved in a fare process. There may be a PASSENGER CONTRACT between the CUSTOMER and the OPERATOR or the AUTHORITY ruling the consumption of services.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Customer_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CustomerGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CustomerIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Customer_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="CustomerGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CustomerGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="CustomerParticularsGroup"/>
			<xsd:group ref="CustomerProfileGroup"/>
			<xsd:element name="passengerContracts" type="passengerContracts_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contracts belonging to customer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CustomerParticularsGroup">
		<xsd:annotation>
			<xsd:documentation>Particular Elements for CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Surname" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Curname of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FirstName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>First name of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Title" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Title  of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date of birth of  CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gender" type="GenderEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Genfer of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Photo" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Photo of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CustomerProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Profile Elements for CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IdentityDocumentRef" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of Identity document of CUSTOMER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="UserProfileRef" minOccurs="0"/>
			<xsd:element ref="CommercialProfileRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====PASSENGER CONTRACT  -->
	<xsd:complexType name="passengerContracts_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CONTRACTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerContractRef"/>
					<xsd:element ref="PassengerContract"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerContract" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A contract with a particular (but possibly anonymous) customer, ruling the consumption of transport services (and joint services). A PASSENGER CONTRACT may be designed for a fixed SALES PACKAGE (e.g. ticket) or to allow successive purchases of SALES PACKAGEs.


</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerContract_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerContractGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerContractIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerContract_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerContractGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerContractGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of PASSENGER CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PASSENGER CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start Date of PASSENGER CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End Date of PASSENGER CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of PASSENGER CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustomerRef" minOccurs="0"/>
			<xsd:element ref="TypeOfPassengerContractRef" minOccurs="0"/>
			<xsd:element name="passengerContractEvents" type="passengerContractEvents_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Events in CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====PASSENGER CONTRACT EVENT-->
	<xsd:complexType name="passengerContractEvents_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CONTRACT EVENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerContractEventRef"/>
					<xsd:element ref="PassengerContractEvent_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerContractEvent_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A log entry describing an event referring to the life of a PASSENGER CONTRACT: initial contracting, sales, validation entries, etc. A subset of a PASSENGER CONTRACT EVENT is often materialised on a TRAVEL DOCUMENT.

</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PassengerContractEvent" abstract="true" substitutionGroup="PassengerContractEvent_">
		<xsd:annotation>
			<xsd:documentation>A log entry describing an event referring to the life of a PASSENGER CONTRACT: initial contracting, sales, validation entries, etc. A subset of a PASSENGER CONTRACT EVENT is often materialised on a TRAVEL DOCUMENT.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerContractEvent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerContractEventGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerContractEventIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerContractEvent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerContractEventGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerContractEventGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of PASSENGER CONTRACT EVENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PASSENGER CONTRACT EVENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER CONTRACT EVENT is valid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Date" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date of PASSENGER CONTRACT EVENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfPassengerContractEventRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A classifiication of PASSENGER CONTRACT EVENTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PassengerContractRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF PASSENGER CONTRACT ======================================== -->
	<xsd:complexType name="typesOfPassengerContract_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF PASSENGER CONTRACT s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfPassengerContractRef"/>
					<xsd:element ref="TypeOfPassengerContract"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeOfPassengerContract_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfPassengerContract" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfPassengerContract_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfPassengerContractIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ====TYPE OF PASSENGER CONTRACT EVENT ======================================== -->
	<xsd:complexType name="typesOfPassengerContractEvent_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF PASSENGER CONTRACT EVENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfPassengerContractEventRef"/>
					<xsd:element ref="TypeOfPassengerContractEvent">
						<xsd:annotation>
							<xsd:documentation>A TYPE OF PASSENGER CONTRACT EVENT specifying access rights for the PASSENGER CONTRACT EVENT ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfPassengerContractEvent" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of PASSENGER CONTRACT EVENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfPassengerContractEvent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfPassengerContractEventIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfPassengerContractEvent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====PASSENGER CONTRACT EVENT-->
	<xsd:complexType name="blacklists_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of BLACKLISTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="BlacklistRef"/>
					<xsd:element ref="Blacklist"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Blacklist" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A list of identified TRAVEL DOCUMENTs or PASSENGER CONTRACTs the validity of which has been cancelled temporarily or permanently, for a specific reason like loss of the document, technical malfunction, no credit on bank account, offences committed by the customer, etc.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Blacklist_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="BlacklistGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="BlacklistIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Blacklist_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for BLACKLIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="BlacklistGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="BlacklistGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for BLACKLIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of BLACKLIST.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of BLACKLIST.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationRef" minOccurs="0"/>
			<xsd:element name="customers" type="customerRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CUSTOMERs on BLACKLIST.in CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passengerContracts" type="contractRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSENGER CONTRACTs on BLACKLIST.in CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retailDevices" type="retailDeviceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RETAIL DEVICEs on BLACKLIST.in CONTRACT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
