schema/1.03/xsd/netex_part_3/part3_salesTransactions/netex_salesContract_support-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_salesContract_support">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support-v1.0.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES PASSENGER CONTRACT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_salesContract_support-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES PASSENGER CONTRACT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SALES CONTRACT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====CUSTOMER.======================================================== -->
	<xsd:complexType name="customerRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerRef" type="CustomerRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER CONTRACT.======================================================== -->
	<xsd:complexType name="contractRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PassengerContractRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PassengerContractIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerContractRef" type="PassengerContractRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerContractIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER CONTRACT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF PASSENGER CONTRACT  -->
	<xsd:complexType name="typeOfPassengerContractRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfPassengerContractRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfPassengerContractIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfPassengerContractRef" type="TypeOfPassengerContractRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfPassengerContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF PASSENGER CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfPassengerContractIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF PASSENGER CONTRACT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER CONTRACT EVENT.======================================================== -->
	<xsd:simpleType name="PassengerContractEventIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerContractEventRef" type="PassengerContractEventRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerContractEventRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerContractEventIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER CONTRACT EVENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF PASSENGER CONTRACT EVENT================================================== -->
	<xsd:complexType name="typeOfPassengerContractEventRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfPassengerContractEventRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfPassengerContractEventIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfPassengerContractEventRef" type="TypeOfPassengerContractEventRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfPassengerContractEventRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF PASSENGER CONTRACT EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfPassengerContractEventIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF PASSENGER CONTRACT EVENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER CONTRACT.======================================================== -->
	<xsd:complexType name="blacklistRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of BLACKLISTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="BlacklistRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="BlacklistIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BLACKLIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="BlacklistRef" type="BlacklistRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BLACKLIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BlacklistRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a BLACKLIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="BlacklistIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BLACKLIST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
</xsd:schema>
